@font-face {
    font-family: 'Montserrat - Regular';
    src: url('../assets/fonts/static/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat - Extralight';
    src: url('../assets/fonts/static/Montserrat-ExtraLight.ttf') format('truetype');
}
body {
    background-color: #E91E63;
    margin: 0;
    transition: background-color 3.5s ease;
}
.top-bar {
    margin-top: 16px;
    margin-right: 16px;
    padding: 8px;
    height: 60px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;   
}
.top-bar-c1 {
    display: flex;
    align-items: center;
}
.top-bar-title {
    font-family: 'Montserrat - Regular';
    color: white;
    float: right;
}
.top-bar-logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.card {
    margin-top: 16px;
    margin-left: 16px;
    color: white;
    padding: 8px;
    background-color: rgba(53, 39, 46, 0.418);
    width: fit-content;
    height: auto;
    border-radius: 14px;
}
.card-text {
    font-family: 'Montserrat - Extralight';
    margin: 16px;
}
a {
    text-decoration: none;
}
.card:hover {
    transform: scale(1.050);
    transition: transform 0.3s ease;
}
.card:not(:hover) {
    transform: scale(1);
    transition: transform 0.3s ease;
}
.group-image {
    max-width: 100%;
    height: auto;
    width: 70%;
    display: block;
    float: right;
    border-radius: 16px;
}
.container {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 18px;
}
.links-container {
    justify-content: space-between;
    margin: 16px;
    align-items: center;
}

@media (max-width: 768px) {
    .top-bar {
        margin-top: 32px;
    }
    .container {
        flex-direction: column;
    }
    .subcontainer2 {
        order: -1;
    }
    .group-image {
        width: 100%;
    }
    .container {
        align-items: baseline;
    }
}
#dev {
    text-decoration: none;
    color: white;
}
#gitProyect {
    width: 100%;
    text-decoration: none;
    color: white;
}
.devLink1 {
    font-size: small;
    font-family: 'Montserrat - Extralight';
}
.devLink2 {
    font-size: small;
    font-family: 'Montserrat - Extralight';
}