@font-face {
  font-family: "Montserrat - Regular";
  src: url("../assets/fonts/static/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat - Extralight";
  src: url("../assets/fonts/static/Montserrat-ExtraLight.ttf")
    format("truetype");
}
:root {
  --component-background-color: #000000a4;
  --default-margin: 16px;
  --default-border-radius: 14px;
}
body {
  background: url("../assets/home_background.jpg") no-repeat center center fixed;
  background-color: #0a3361;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 0;
}
a {
  text-decoration: none;
}
.top-bar {
  background-color: var(--component-background-color);
  border-bottom-right-radius: var(--default-border-radius);
  border-bottom-left-radius: var(--default-border-radius);
  min-width: fit-content;
  padding: 8px;
  display: flex;
  align-items: center;
}
.top-bar-title {
  font-family: "Montserrat - Regular";
  color: white;
  margin-right: var(--default-margin);
}
.top-bar-logo {
  width: 60px;
  height: 60px;
  margin-left: var(--default-margin);
  margin-right: var(--default-margin);
}
.card {
  flex: 1 0 auto;
  align-content: center;
  padding: 4px;
  margin-top: var(--default-margin);
  margin-left: var(--default-margin);
  background-color: var(--component-background-color);
  width: fit-content;
  height: auto;
  border-radius: var(--default-border-radius);
}
.card-l {
  color: white;
}
.card-text {
  font-family: "Montserrat - Extralight";
  margin: var(--default-margin);
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.card:not(:hover) {
  transform: scale(1);
  transition: transform 0.3s ease;
}
.card_container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: var(--default-margin);
}

@media (max-width: 768px) {
  @media (orientation: landscape) {
    .card_container {
      margin-top: 6px;
      flex-direction: row;
    }
  }

  @media (orientation: portrait) {
    .card_container {
      margin-top: 6px;
      flex-direction: column;
    }
  }
}

@media (min-width: 768px) {
  .card_container {
    margin-top: 6px;
    flex-direction: column;
  }
}
