@font-face {
    font-family: 'Montserrat - Regular';
    src: url('../assets/fonts/static/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat - Extralight';
    src: url('../assets/fonts/static/Montserrat-ExtraLight.ttf') format('truetype');
}

body {
    background-color: #E91E63;
    margin: 0;
    height: 100vh;
    transition: background-color 3.5s ease;
}