@font-face {
    font-family: 'Montserrat - Regular';
    src: url('../assets/fonts/static/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat - Light';
    src: url('../assets/fonts/static/Montserrat-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat - Extralight';
    src: url('../assets/fonts/static/Montserrat-ExtraLight.ttf') format('truetype');
}

body {
    background-color: #E91E63;
    margin: 0;
    transition: background-color 3.5s ease;
}

.title {
    font-family: 'Montserrat - Regular';
    color: white;
    margin: 32px;
}
.container {
    color: white;
    font-family: 'Montserrat - Light';
    max-width: 100%;
    margin: 32px;
}